#loading{
    width: 100vw;
    height: 100vh;
    background: red;
    position: fixed;
    top:0;
    left:0;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}